extends ../content.pug

block main
    <p id="douban-p1"><span style="font-weight: bold;">撰文 | 伯樵</span></p>
    <p id="douban-p2">如果把电影比作河流的话，一部中规中矩的商业电影，就像一条四平八稳的河流，把一船观众从起点，安安全全地送到出海口；而有些环形叙事的电影，则像护城河，最后让观众回到起点；有的影片，充满浪漫和诗意，像是带着观众在一片苍茫的湖泊上漫游；而有些“爽片”则像在蜿蜒的山涧中急流而下，虽然水下暗流涌动、礁石丛生，但导演却能带着观众一路漂流而下，甚至还可能偶尔上岸......直到达到终点后，观众才能透上气来。<img src="https://s1.ax1x.com/2018/07/18/P1nckV.jpg">姜文《阳光灿烂的日子》（以下简称《阳光》）、《太阳照常升起》（以下简称《太阳》）就仿佛是带着观众，在一望无际的湖面上漫游；《让子弹飞》无疑仿佛是一场载着无数观众在山涧中的激流勇进......而《一步之遥》和《邪不压正》，则像是在一个混乱的水系系统中，一会儿是汪洋恣肆，一会儿又是蜿蜒小溪，一会儿是大江、一会儿又是湖泊......最后甚至出现了断崖式的瀑布。最终，让期待这两部已久的观众，淹死在了这一片泽国之中。</p>
